<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}The Great Django Blog{% endblock %}</title>
</head>
<body>

    <div class="navbar">
        <div class="section-inner clearfix">
            <nav>
                <a href="/">The Great Django Blog</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
                <a href="#">Career</a>
            </nav>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    {% block footer %}

    <div class="footer">
        <div class="section-inner clearfix">
            <hr>
            <p>&copy; The Great Django Footer</p>
        </div>
    </div>

    {% endblock %}

</body>
</html>