{% extends "base.html" %}

{% block title %}
    Feedback - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
    <div class="section-inner clearfix">

        <h3>Submit Your feedback</h3>

        {{ form.non_field_errors }}

        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>
                        {{ form.name.errors }}
                        {{ form.name }}
                        {{ form.name.help_text }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.subject.label_tag }}</td>
                    <td>
                        {{ form.subject.errors }}
                        {{ form.subject }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.message.label_tag }}</td>
                    <td>
                        {{ form.message.errors }}
                        {{ form.message }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>

        </div>
    </div>

{% endblock %}