{% extends "blog/base.html"  %}

{% block title %}
    Blogg - {{ block.super }}
{% endblock %}

{% block content %}    

    <div class="content">
        <div class="section-inner clearfix">        

        {% for post in posts %}
            <h3>
                <a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a>
            </h3>
            <p class="post-info">
                {% include 'blog/post_info.html' %}
            </p>
        {% empty %}
            <p>There are no posts</p>
        {% endfor %}    

        </div>
    </div>

{% endblock %}